html, body, #root {
	position: relative;
	width: 100%;
	height: 100%;
}

body,
body:hover,
body:active{
	cursor: url("./assets/pointer.png") 0 0, auto;
}


@media (min-width: 2560px) {
	body {
		display: flex;
		justify-content: center;
	}


	#root {
		width: 2560px;
	}
}


* {
	padding: 0;
	margin: 0;  
	border-style: none;
	outline: none;
	font-family: 'NotoSansKR R';
	/* cursor: none; */
	font-size: 10px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}


@font-face {
	font-family: 'NotoSansKR R';
	src: url('/fonts/NotoSansKR-Regular.ttf');
}


@font-face {
	font-family: 'NotoSansKR EL';
	src: url('/fonts/NotoSansKR-ExtraLight.ttf');
}


@font-face {
	font-family: 'NotoSansKR L';
	src: url('/fonts/NotoSansKR-Light.ttf');
}


@font-face {
	font-family: 'NotoSansKR B';
	src: url('/fonts/NotoSansKR-Bold.ttf');
}


@font-face {
	font-family: 'NotoSansKR EB';
	src: url('/fonts/NotoSansKR-ExtraBold.ttf');
}


.font-cache {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	display: flex;
	font-size: 1px;
}